* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif", serif';
    font-size: 18px;
}
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080"><g transform=" rotate(181 960 540) translate(-29.63922766976566 -16.672065564243212) scale(1.0308741954893392) "><rect width="1920" height="1080" fill="rgb(99, 154, 207)"></rect><g transform="translate(0, 0)"><path fill="rgb(125, 171, 215)" fill-opacity="1" d="M0,176.472L35.556,175.038C71.111,173.603,142.222,170.735,213.333,170.291C284.444,169.846,355.556,171.825,426.667,172.047C497.778,172.27,568.889,170.736,640,151.592C711.111,132.447,782.222,95.692,853.333,92.587C924.444,89.483,995.556,120.03,1066.667,110.668C1137.778,101.306,1208.889,52.034,1280,49.24C1351.111,46.446,1422.222,90.129,1493.333,101.009C1564.444,111.89,1635.556,89.968,1706.667,69.678C1777.778,49.387,1848.889,30.728,1884.444,21.398L1920,12.068L1920,1080L1884.444,1080C1848.889,1080,1777.778,1080,1706.667,1080C1635.556,1080,1564.444,1080,1493.333,1080C1422.222,1080,1351.111,1080,1280,1080C1208.889,1080,1137.778,1080,1066.667,1080C995.556,1080,924.444,1080,853.333,1080C782.222,1080,711.111,1080,640,1080C568.889,1080,497.778,1080,426.667,1080C355.556,1080,284.444,1080,213.333,1080C142.222,1080,71.111,1080,35.556,1080L0,1080Z"></path></g><g transform="translate(0, 180)"><path fill="rgb(151, 188, 223)" fill-opacity="1" d="M0,125.838L35.556,113.714C71.111,101.59,142.222,77.343,213.333,65.207C284.444,53.071,355.556,53.045,426.667,70.637C497.778,88.229,568.889,123.439,640,142.349C711.111,161.259,782.222,163.869,853.333,142.337C924.444,120.806,995.556,75.131,1066.667,56.312C1137.778,37.492,1208.889,45.526,1280,63.136C1351.111,80.747,1422.222,107.933,1493.333,127.165C1564.444,146.397,1635.556,157.675,1706.667,150.257C1777.778,142.839,1848.889,116.726,1884.444,103.669L1920,90.613L1920,900L1884.444,900C1848.889,900,1777.778,900,1706.667,900C1635.556,900,1564.444,900,1493.333,900C1422.222,900,1351.111,900,1280,900C1208.889,900,1137.778,900,1066.667,900C995.556,900,924.444,900,853.333,900C782.222,900,711.111,900,640,900C568.889,900,497.778,900,426.667,900C355.556,900,284.444,900,213.333,900C142.222,900,71.111,900,35.556,900L0,900Z"></path></g><g transform="translate(0, 360)"><path fill="rgb(177, 205, 231)" fill-opacity="1" d="M0,9.536L35.556,8.17C71.111,6.803,142.222,4.071,213.333,20.539C284.444,37.008,355.556,72.679,426.667,83.891C497.778,95.103,568.889,81.857,640,68.089C711.111,54.321,782.222,40.031,853.333,36.128C924.444,32.224,995.556,38.706,1066.667,43.304C1137.778,47.902,1208.889,50.616,1280,66.528C1351.111,82.44,1422.222,111.551,1493.333,131.375C1564.444,151.199,1635.556,161.738,1706.667,168.059C1777.778,174.38,1848.889,176.484,1884.444,177.536L1920,178.588L1920,720L1884.444,720C1848.889,720,1777.778,720,1706.667,720C1635.556,720,1564.444,720,1493.333,720C1422.222,720,1351.111,720,1280,720C1208.889,720,1137.778,720,1066.667,720C995.556,720,924.444,720,853.333,720C782.222,720,711.111,720,640,720C568.889,720,497.778,720,426.667,720C355.556,720,284.444,720,213.333,720C142.222,720,71.111,720,35.556,720L0,720Z"></path></g><g transform="translate(0, 540)"><path fill="rgb(203, 221, 239)" fill-opacity="1" d="M0,99.242L35.556,91.423C71.111,83.604,142.222,67.967,213.333,54.318C284.444,40.67,355.556,29.011,426.667,46.237C497.778,63.462,568.889,109.573,640,136.084C711.111,162.595,782.222,169.506,853.333,173.207C924.444,176.908,995.556,177.399,1066.667,167.141C1137.778,156.883,1208.889,135.876,1280,122.758C1351.111,109.641,1422.222,104.412,1493.333,93.729C1564.444,83.046,1635.556,66.908,1706.667,79.655C1777.778,92.402,1848.889,134.033,1884.444,154.848L1920,175.664L1920,540L1884.444,540C1848.889,540,1777.778,540,1706.667,540C1635.556,540,1564.444,540,1493.333,540C1422.222,540,1351.111,540,1280,540C1208.889,540,1137.778,540,1066.667,540C995.556,540,924.444,540,853.333,540C782.222,540,711.111,540,640,540C568.889,540,497.778,540,426.667,540C355.556,540,284.444,540,213.333,540C142.222,540,71.111,540,35.556,540L0,540Z"></path></g><g transform="translate(0, 720)"><path fill="rgb(229, 238, 247)" fill-opacity="1" d="M0,154.937L35.556,156.427C71.111,157.917,142.222,160.898,213.333,157.44C284.444,153.982,355.556,144.085,426.667,119.395C497.778,94.704,568.889,55.221,640,59.949C711.111,64.677,782.222,113.617,853.333,124.736C924.444,135.855,995.556,109.153,1066.667,86.448C1137.778,63.743,1208.889,45.034,1280,44.649C1351.111,44.263,1422.222,62.201,1493.333,87.197C1564.444,112.193,1635.556,144.247,1706.667,146.17C1777.778,148.092,1848.889,119.883,1884.444,105.778L1920,91.673L1920,360L1884.444,360C1848.889,360,1777.778,360,1706.667,360C1635.556,360,1564.444,360,1493.333,360C1422.222,360,1351.111,360,1280,360C1208.889,360,1137.778,360,1066.667,360C995.556,360,924.444,360,853.333,360C782.222,360,711.111,360,640,360C568.889,360,497.778,360,426.667,360C355.556,360,284.444,360,213.333,360C142.222,360,71.111,360,35.556,360L0,360Z"></path></g><g transform="translate(0, 900)"><path fill="rgb(255, 255, 255)" fill-opacity="1" d="M0,76.563L35.556,65.697C71.111,54.83,142.222,33.097,213.333,21.973C284.444,10.848,355.556,10.334,426.667,20.119C497.778,29.904,568.889,49.99,640,77.212C711.111,104.434,782.222,138.792,853.333,150.442C924.444,162.092,995.556,151.034,1066.667,126.275C1137.778,101.516,1208.889,63.055,1280,67.787C1351.111,72.519,1422.222,120.445,1493.333,127.931C1564.444,135.417,1635.556,102.464,1706.667,94.741C1777.778,87.018,1848.889,104.525,1884.444,113.279L1920,122.032L1920,180L1884.444,180C1848.889,180,1777.778,180,1706.667,180C1635.556,180,1564.444,180,1493.333,180C1422.222,180,1351.111,180,1280,180C1208.889,180,1137.778,180,1066.667,180C995.556,180,924.444,180,853.333,180C782.222,180,711.111,180,640,180C568.889,180,497.778,180,426.667,180C355.556,180,284.444,180,213.333,180C142.222,180,71.111,180,35.556,180L0,180Z"></path></g></g></svg>');
    background-size: cover ;
    background-attachment: fixed;
}
nav {
    height: 3em;
    display: flex;
    align-items: center;
    background-color: #97BCDF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 0.8s ease-in-out;
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
#cookie::before {
    content: 'Welcome! ';
    color: rgb(21, 78, 125);
    position: relative;
    animation: 1.5s ease-in-out infinite;
}


.cartlogout{    border: 0;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 18px;
    background-color: #4A90E2;
    color: white; 

}
#logout {
    border: 0;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 18px;
    background-color: #4A90E2;
    color: white; 
}
#logout:hover {
    cursor: pointer;
    background-color: #357ABD;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    transform: scale(1.05);
}
#cartend{
    border: 0;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 18px;
    background-color: #4A90E2;
    color: white; 
}
#cartend:hover {
    cursor: pointer;
    background-color: #357ABD;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    transform: scale(1.05);
}

div {
    clear: both;
}
nav ul {
    left: 10px;
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 2.5em;
}
a {
    text-decoration: none;
    color: white;
}
#logout{
    position: absolute;
    right: 2.5em;
}
#cartend {
    position: absolute;
    right: 12em;
}
nav span {
    position: absolute;
    right: 20em;
}
#logo {
    position: absolute;
    left: 45%;
}
/* ---------------------------------------- */
.productInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* --------------------- Product Card --------------------- */
.product {
    width: 400px; 
    height: 600px;
    margin: 5% auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* --------------------- Product Image --------------------- */
.product img {
    width: 100%; 
    height: 400px; 
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

/* --------------------- Product Info --------------------- */
.product .info {
    padding: 10px;
}

.product .info h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.product .info .price {
    font-size: 1em;
    color: #888;
}
.description {
    margin-top: 5px;
    font-size: 1em;
    color: #888;
}
.add-to-cart {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

}
.add-to-cart:hover {
    background-color: #357ABD;
    transform: scale(0.95);
}
/* ======================footer=================== */
footer {
    background-color: #B1CDE7;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    transition: background-color 0.3s;
}

footer:hover {
    background-color:#6CA8ED;
}

footer p {
    margin-top: 6px;
    font-size: 1em;
    display: inline-block;
}
footer a {
    font-size: 1.5em;
    color: white;
    float: right;
}
#howmanyitems {
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 44.2rem;
    margin-bottom: 2rem;
    z-index: 1000;
    border-radius: 100%;
}
